<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>rafi.sobre_mí</title>
    <link rel="icon" href="../assets/bee.png" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/home.css" />
    <link rel="stylesheet" href="../styles/about.css" />
    <link rel="stylesheet" href="../styles/loader.css" />
    <script
      src="../scripts/script.js"
      type="application/javascript"
      defer
    ></script>
  </head>
  <body>
    <header>
      <nav class="navigation-bar">
        <ul class="navigation-list">
          <li class="logo-container">
            <a href="../index.html" class="home-button">
              rafi<span class="logo-colorize">.programando()</span>
            </a>
          </li>
          <li class="links-container">
            <ul class="navigation-links">
              <li class="nav-item">
                <a href="./about.html">
                  <p class="switch-frame about-me selected">.sobre_mí()</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./history.html">
                  <p class="switch-frame link-to">.historia()</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./projects.html">
                  <p class="switch-frame link-to">.proyectos()</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./contact.html">
                  <p class="switch-frame link-to">.contáctame()</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="menu-button-container" onclick="menuBehavior()">
            <p class="menu-button_text">MENÚ</p>
          </li>
          <li class="switch-container-principal">
            <ul class="switch-container">
              <li>
                <p class="switch-text">.light()</p>
              </li>
              <li>
                <div id="hi" class="theme-switch">
                  <div class="switch" onclick="changeTheme(this)"></div>
                </div>
              </li>
              <li>
                <p class="switch-text">.dark()</p>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <div class="global-render">
      <div class="section-1">
        <div class="about-view">
          <div class="social-container">
            <a
              href="https://www.linkedin.com/in/rafael-barrientos-garcia-9934b3244/"
              target="_blank"
            >
              <i class="fa-brands fa-linkedin social"></i>
            </a>
            <a href="https://github.com/rafa-wine" target="_blank">
              <i class="fa-brands fa-github social"></i>
            </a>
            <p>Descarga mi</p>
            <a
              href="./resources/rafiprogramando_cv.pdf"
              download="rafiprogramando_cv"
              class="cv-button"
            >
              <p class="text-cv">CV</p>
              <i class="fa-solid fa-download"> </i>
            </a>
          </div>
          <div class="presentation-container">
            <p class="intro-text">
              Desarrollador Full Stack fuertemente influenciado por los
              comportamientos naturales complejos y así mismo inspirándome en la
              naturaleza para crear interfaces únicas. Adicto a la música, las
              artes visuales, los juegos y el café. Desde Hidalgo, con sede en Querétaro.
            </p>
            <img src="../assets/hello.png" alt="hola">
          </div>
          <div>
            <div class="title-section-container">
              <p>Habilidades</p>
            </div>
            <div>
              <ul class="list-skills">
                <li class="skills-topic">
                  <ul class="list-skills-items">
                    <li class="skill-item">Capacidad de análisis</li>
                    <li class="skill-item">Pensamiento estratégico</li>
                    <li class="skill-item">Resolución de problemas</li>
                    <li class="skill-item">Innovación tecnológica</li>
                    <li class="skill-item">Servicio centrado en el cliente</li>
                    <li class="skill-item">Aptitudes de organización</li>
                    <li class="skill-item">Liderazgo</li>
                    <li class="skill-item">Comunicación</li>
                    <li class="skill-item">Investigación</li>
                    <li class="skill-item">Multitarea</li>
                    <li class="skill-item">Creatividad</li>
                    <li class="skill-item">Aprendizaje automático</li>
                  </ul>
                </li>
                <li class="skills-topic">
                  <ul class="list-skills-items">
                    <li class="skill-item">Frontend</li>
                    <li class="skill-item">Backend</li>
                    <li class="skill-item">Diseño UX/UI</li>
                    <li class="skill-item">Alfarero</li>
                  </ul>
                </li>
                <li class="skills-topic">
                  <ul class="list-skills-items">
                    <li class="skill-item">HTML5</li>
                    <li class="skill-item">CSS3</li>
                    <li class="skill-item">JavaScript</li>
                    <li class="skill-item">React.js</li>
                    <li class="skill-item">React Native</li>
                    <li class="skill-item">Node.js</li>
                    <li class="skill-item">Express.js</li>
                    <li class="skill-item">Java</li>
                    <li class="skill-item">Spring Boot</li>
                    <li class="skill-item">Kotlin</li>
                    <li class="skill-item">Python</li>
                    <li class="skill-item">C#</li>
                    <li class="skill-item">C++</li>
                    <li class="skill-item">MySQL</li>
                    <li class="skill-item">SQL Server</li>
                    <li class="skill-item">SQLite</li>
                    <li class="skill-item">Firebase</li>
                    <li class="skill-item">Apache</li>
                    <li class="skill-item">NGINX</li>
                    <li class="skill-item">Linux</li>
                  </ul>
                </li>
                <li class="skills-topic">
                  <ul class="list-skills-items">
                    <li class="skill-item">Figma</li>
                    <li class="skill-item">GIM</li>
                    <li class="skill-item">Inkscape</li>
                    <li class="skill-item">Kdenlive</li>
                    <li class="skill-item">Synfig</li>
                    <li class="skill-item">Photoshop</li>
                    <li class="skill-item">Illustrator</li>
                    <li class="skill-item">Premiere Pro</li>
                    <li class="skill-item">LibreOffice</li>
                    <li class="skill-item">Google Docs</li>
                    <li class="skill-item">Microsoft Office</li>
                    <li class="skill-item">Neovim</li>
                    <li class="skill-item">VS Code</li>
                    <li class="skill-item">Intellij IDEA</li>
                    <li class="skill-item">PyCharm</li>
                    <li class="skill-item">Android Studio</li>
                    <li class="skill-item">Arduino</li>
                    <li class="skill-item">DataGrip</li>
                    <li class="skill-item">MySQL Workbench</li>
                    <li class="skill-item">Blender</li>
                    <li class="skill-item">Unity3D</li>
                    <li class="skill-item">Fedora</li>
                    <li class="skill-item">Ubuntu</li>
                    <li class="skill-item">Windows</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title-section-container">
              <p>Experiencia</p>
            </div>
            <div>
              <ul class="list-skills">
                <li class="skills-topic">
                  <ul class="list-skills-items">
                    <li class="skill-item comment">
                      // Prácticas Profesionales
                    </li>
                    <li class="skill-item item-experience">
                      Desarrollador Web
                    </li>
                    <li class="skill-item item-subtext">
                      @ ZAGA Relaciones Públicas
                    </li>
                    <li class="skill-item item-subtext">08/2022 - 11/2022</li>
                  </ul>
                </li>
                <li class="skills-topic">
                  <ul class="list-skills-items">
                    <li class="skill-item comment">// Servicio Social</li>
                    <li class="skill-item item-experience">
                      Desarrollador de software
                    </li>
                    <li class="skill-item item-subtext">
                      @ UAEH Dirección de Vinculación con Egresados
                    </li>
                    <li class="skill-item item-subtext">01/2022 - 06/2022</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title-section-container">
              <p>Idiomas</p>
            </div>
            <div>
              <ul class="list-skills">
                <li class="skills-topic">
                  <ul class="list-skills-items">
                    <li class="skill-item comment">// Fluido</li>
                    <li class="skill-item">Español</li>
                  </ul>
                </li>
                <li class="skills-topic">
                  <ul class="list-skills-items">
                    <li class="skill-item comment">// Intermedio</li>
                    <li class="skill-item">Inglés</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title-section-container">
              <p>Educación</p>
            </div>
            <div>
              <ul class="list-skills">
                <li class="skills-topic">
                  <ul class="list-skills-items">
                    <li class="skill-item item-experience">
                      Universidad Autónoma del Estado de Hidalgo
                    </li>
                    <li class="skill-item item-subtext">
                      Graduado en Ciencias Computacionales
                    </li>
                    <li class="skill-item item-subtext">Septiembre 2022</li>
                  </ul>
                </li>
                <li class="skills-topic">
                  <ul class="list-skills-items">
                    <li class="skill-item item-experience">
                      CECyTE Hidalgo Plantel Tepetitlán
                    </li>
                    <li class="skill-item item-subtext">
                      Técnico en Programación
                    </li>
                    <li class="skill-item item-subtext">2018</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="title-section-container">
              <p>También ocupado con</p>
            </div>
            <div>
              <ul class="list-skills">
                <li class="skills-topic">
                  <ul class="list-skills-items">
                    <li class="skill-item">Videojuegos</li>
                  </ul>
                </li>
                <li class="skills-topic">
                  <ul class="list-skills-items">
                    <li class="skill-item">Guitarra</li>
                  </ul>
                </li>
                <li class="skills-topic">
                  <ul class="list-skills-items">
                    <li class="skill-item">Familia</li>
                  </ul>
                </li>
                <li class="skills-topic">
                  <ul class="list-skills-items">
                    <li class="skill-item">Amigos</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="social-container">
            <a
              href="https://www.linkedin.com/in/rafael-barrientos-garcia-9934b3244/"
              target="_blank"
            >
              <i class="fa-brands fa-linkedin social"></i>
            </a>
            <a href="https://github.com/rafa-wine" target="_blank">
              <i class="fa-brands fa-github social"></i>
            </a>
            <p>Descarga mi</p>
            <a
              href="./resources/rafiprogramando_cv.pdf"
              download="rafiprogramando_cv"
              class="cv-button"
            >
              <p class="text-cv">CV</p>
              <i class="fa-solid fa-download"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="loader-container">
      <span class="loader-2"></span>
    </div>
    <div class="menu-content">
      <ul>
        <li onclick="menuBehavior()" class="close-button">
          CERRAR MENÚ</i>
        </li>
        <li class="nav-item">
          <a href="./about.html">
            <p class="switch-frame about-me link-to">.sobre_mí()</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="./history.html">
            <p class="switch-frame link-to">.historia()</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="./projects.html">
            <p class="switch-frame link-to">.proyectos()</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="./contact.html">
            <p class="switch-frame link-to">.contáctame()</p>
          </a>
        </li>
      </ul>
  </body>
</html>
