<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>rafi.proyectos()</title>
    <link rel="icon" href="../assets/bee.png" type="image/x-icon" />
    <link rel="stylesheet" href="../styles/home.css" />
    <script
      src="../scripts/script.js"
      type="application/javascript"
      defer
    ></script>
  </head>
  <body class="contact-view">
    <header>
      <nav class="navigation-bar">
        <ul class="navigation-list">
          <li class="logo-container">
            <a href="../index.html" class="home-button">
              rafi<span class="logo-colorize">.programando()</span>
            </a>
          </li>
          <li class="links-container">
            <ul class="navigation-links">
              <li class="nav-item">
                <a href="./about.html">
                  <p class="switch-frame about-me link-to">.sobre_mí()</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./history.html">
                  <p class="switch-frame link-to">.historia()</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./projects.html">
                  <p class="switch-frame selected">.proyectos()</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="./contact.html">
                  <p class="switch-frame link-to">.contáctame()</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="switch-container-principal">
            <ul class="switch-container">
              <li>
                <p class="switch-text">.light()</p>
              </li>
              <li>
                <div id="hi" class="theme-switch">
                  <div class="switch" onclick="changeTheme(this)"></div>
                </div>
              </li>
              <li>
                <p class="switch-text">.dark()</p>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="global-render">
      <div class="global-section render>
        <div class="history-container format-subviews">
            <span class="loader"></span>
            <p>.proyectos().build()</p>
          </div>
      </div>
    </div>
    </header>
  </body>
</html>
