<div class="direct-contact-container">
  <a
    href="https://www.linkedin.com/in/rafael-barrientos-garcia-9934b3244/"
    target="_blank"
  >
    <i class="fa-brands fa-linkedin"></i>
  </a>
  <a href="https://github.com/rafa-wine" target="_blank">
    <i class="fa-brands fa-github"></i>
  </a>
  <p>Descarga mi</p>
  <a
    href="../resources/rafiprogramando_cv.pdf"
    download="rafiprogramando_cv"
    class="cv-button"
  >
    <p class="text-cv">CV</p>
    <i class="fa-solid fa-download"> </i>
  </a>
</div>
