.about-me {
  color: var(--accent-color);
}

.text-presentation {
  text-align: center;
  border: 2px dashed var(--secondary-color);
  border-radius: 25px;
  padding: 30px 0px;
}

.presentation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-text {
  display: flex;
  width: 60%;
  font-size: 18px;
  color: var(--terminal-success);
}

.title-section-container {
  font-size: 22px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
}

.skills-topic {
  display: grid;
}

.skill-item {
  color: var(--brown-color);
}

.comment {
  font-style: italic;
  color: var(--terminal-comments);
}

.item-experience {
  color: var(--accent-color);
}

.item-subtext {
  color: var(--terminal-comments);
}

.list-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 50px;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 900px) {
  .about-view {
    width: 90%;
  }

  .social-container {
    justify-content: center;
  }

  .presentation-container {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .intro-text {
    width: 100%;
  }
}
