@import url("https://fonts.cdnfonts.com/css/hardino");
@import url("https://fonts.cdnfonts.com/css/jack-input");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

:root {
  --primary-color: #f2f2f2;
  --secondary-color: #1c1d1f;
  --accent-color: #e5b427;
}

.dark-theme {
  --primary-color: #1c1d1f;
  --secondary-color: #f2f2f2;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: "JackInput", sans-serif;
  color: var(--secondary-color);
  transition: 0.3s;
}

body {
  background-color: var(--primary-color);
}

/* Start Navigation Bar */

header {
  display: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 70px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 70px;
}

.links-container {
  width: 50%;
}

.switch-container-principal {
  width: 25%;
}

nav ul {
  display: flex;
  flex-direction: row;
}

.navigation-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.nav-item {
  cursor: pointer;
}

.nav-item:hover > p {
  color: var(--accent-color);
}

.logo-container {
  font-family: "Hardino", sans-serif;
  font-size: 26px;
  width: 25%;
  cursor: pointer;
}

.logo-colorize {
  font-family: "JackInput", sans-serif;
  font-size: 26px;
  color: var(--accent-color);
}

.switch-frame {
  font-family: "JackInput", sans-serif;
  font-size: 16px;
}

/* Start Swicth theme */

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-switch {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 47px;
  height: 25px;
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  margin: 0px 10px;
}

.switch {
  width: 23px;
  height: 23px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-left: 2px;
  margin-right: 2px;
}

.theme-change {
  transition: 0.5s;
  transform: translateX(20px);
}

.switch-text {
  font-family: "JackInput", sans-serif;
  font-size: 12px;
}

/* End Swicth theme*/

/* End Navigation Bar */

.global-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-top: 60px;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 250px;
  width: fit-content;
  margin-left: 50px;
}

.text-hi {
  color: var(--accent-color);
  font-size: 32px;
  font-family: "Hardino", sans-serif;
}

.text-title {
  font-family: "Hardino", sans-serif;
  font-size: 36px;
}

.marker-title {
  font-family: "Hardino", sans-serif;
  color: var(--accent-color);
}

.text-subtitle {
  font-size: 34px;
}

.marker-subtitle {
  color: rgb(255, 83, 83);
}

.returns-section {
  width: 600px;
  margin: 15px 0px;
}

.text-simple {
  color: #b27c32;
}

.social-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.social {
  font-size: 25px;
}

.social:hover {
  color: var(--accent-color);
}

.text-cv {
  font-size: 20px;
}

.fa-download {
  margin-left: 7px;
  font-size: 18px;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 425px;
  border: var(--accent-color) 1.5px solid;
  border-radius: 200px;
}

.avatar-section {
  display: flex;
  width: 250px;
  height: 400px;
  border-radius: 200px;
  overflow: hidden;
  background-color: #edbf46;
}

.avatar-img {
  object-fit: cover;
}

.cv-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 32px;
  border: 2px solid var(--accent-color);
  border-radius: 30px;
  cursor: pointer;
}

.cv-button:hover {
  background-color: var(--accent-color);
}

/* Start Subviews style */

.about-me-container {
  display: none;
}

.history-container {
  display: none;
}

.projects-container {
  display: none;
}

.contact-container {
  display: none;
}

.format-subviews {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 70px);
}

.loader {
  color: var(--secondary-color);
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 78px;
  opacity: 0.8;
}
.loader:before {
  content: "{";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader:after {
  content: "}";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

/* End Subviews style */

/* ------------- Media queries ------------------------ */

@media (max-width: 900px) {
  header {
    margin-top: 25px;
    height: fit-content;
  }

  .navigation-list {
    flex-direction: column;
  }

  .navigation-links {
    display: none;
    flex-direction: column;
  }

  .logo-container {
    width: 100%;
    text-align: center;
  }

  .switch-container {
    margin-top: 25px;
  }

  .global-section {
    height: fit-content;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 60px;
  }

  .text-section {
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: 0px;
  }

  .returns-section {
    width: 100%;
  }

  .text-hi {
    font-size: 22px;
  }

  .text-title {
    font-size: 26px;
  }

  .wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .text-subtitle {
    font-size: 24px;
  }

  .text-simple {
    font-size: 14px;
  }
}
